<header>
    <div class="about-bg">
        <div class="container">
            <div class="row about justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h1 class="about-forro-in-seattle general-title">FORRÓ IN SEATTLE</h1>
                <p class="about-description">The first and only Forró community in Seattle. We promote classes, live shows, workshops with guest teachers from all over the world.</p>
                <p class="about-join">Come join us!</p>
                <a href="#classes" class="btn btn-light btn-xl page-scroll about-classes-button">
                	See Classes
                </a>
            </div>
            </div>
        </div>
    </div>
</header>