<header>
    <div class="about-bg">
        <div class="container">
            <div class="row about justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h1 class="about-forro-in-seattle general-title">FORRÓ IN SEATTLE</h1>
                <h5 class="about-description">The first and only Forró community in Seattle. We promote classes, live shows, workshops with guest teachers from all over the world.</h5>
                <h2 class="about-join">Come join us!</h2>
                <a href="#workshops" class="btn btn-light btn-xl page-scroll about-classes-button">
                	Check our next workshop
                </a>
                <br />
                <br />
                <h3>
                   <a href="#classes" class="btn btn-light btn-xl page-scroll about-classes-button">
                       See March Class Cancellations
                   </a>
                </h3>
            </div>
            </div>
        </div>
    </div>
</header>