<section class="bg-light" id="classes">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h2 class="general-title">CLASSES</h2>
                <hr class="light">
                <!-- <p>Watch out for cancelations! Always check the cancellations section!</p> -->
                <h3 class="light">Tuesday</h3>
                <p>Forró for all levels!</p>
                <p class="hour-text">WHERE?</p>
                <p>
                    Dance Underground<br />
                    340 15th Ave E, Seattle, WA 98112<br/>
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    8:40pm - 10:10pm
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p>$10</p>
                <p class="hour-text">WHO'S TEACHING?</p>
                <p>Lara and Luiz</p>
                <p class="hour-text">DATES</p>
                <p>
                    Every Tuesday, except when class is cancelled.<br />
                    You can also check our <a target="_blank" href="https://www.facebook.com/events/2798580916820117/">Facebook event.</a>
                </p>
                <p class="hour-text">CANCELLATIONS</p>
                <p>
                    There are no cancellations coming!
                    <!-- <span style="color:red">
                        <span class="cancelled-text">September 17th</span> CANCELLED
                    </span>
                    <br />
                    <span style="color:red">
                        <span class="cancelled-text">September 24th</span> CANCELLED
                    </span>
                    <br /> -->
                </p>
                <br />
                <h3 class="light">Friday</h3>
                <p>We will no longer going to host Friday classes but stay tuned for other events!</p>
                <!-- <p class="hour-text">WHERE?</p>
                <p id="ucc-address">
                    Union Cultural Center<br />
                    803 S King St, Seattle
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    8pm-9:00pm
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p>$10</p>
                <p class="hour-text">DATES</p>
                <p>
                    Every Friday, except when class is cancelled.<br />
                    You can also check our <a target="_blank" href="https://www.facebook.com/events/498215217607685/">Facebook event.</a>
                </p>
                <p class="hour-text">CANCELLATIONS</p>
                <p>
                    <span style="color:red">
                        <span class="cancelled-text">August 16th</span> CANCELLED
                    </span>
                    <br />
                    <span>
                        <span class="cancelled-text" style="color:red">August 30th</span> - Join us for <a href="#parties">En Canto's concert</a> at the Royal Room
                    </span>
                    <br />
                    <span style="color:red">
                        <span class="cancelled-text">September 13th</span> CANCELLED
                    </span>
                    <br />
                    <span style="color:red">
                        <span class="cancelled-text">September 20th</span> CANCELLED
                    </span>
                    <br />
                    <span style="color:red">
                        <span class="cancelled-text">September 27th</span> CANCELLED
                    </span>
                    <br />
                </p> -->
                <p class="hour-text">ABOUT THE TEACHERS</p>
                <p>
                    Lara is from Niterói (Rio de Janeiro state) but learned how to dance forró in the various forró parties during her time living in São José dos Campos (São Paulo state) where she went for college. Though she studied (and still studies) other Brazilian social dances such as Samba de Gafieira, Bolero and Brazilian Zouk, her favorite is, and always will be, Forró. She started teaching in São José dos Campos at her university and even taught it for one year when she was living in South Korea. After she came to Seattle, she was waiting for someone else to come and start teaching until she realized that she was that person. Lara dances and teaches as lead and follow and she sometimes gets to teach at forró festivals in the US.
                </p>
                <img class="parties-img" src="/img/laraeluiz.png">
            </div>
        </div>
    </div>
</section>