<section class="bg-light" id="classes">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h2 class="general-title">CLASSES</h2>
                <hr class="light">
                <p>Join us for our weekly Friday class! Check calendar for dates.</p>
                <p class="hour-text">WHERE?</p>
                <p>
                    Union Cultural Center<br />
                    803 S King St, Seattle
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    <span class="hour-text">8pm-9:00pm</span>
                    <br />
                    Intro, beginner class, first timers welcomed!
                    <br />
                    <span class="hour-text">9pm-10pm</span>
                    <br />
                    Beginner plus class, basics needed but everybody is welcomed! 
                    <br />
                    <span class="hour-text">10pm-10h30</span>
                    <br />
                    Social and practice time!
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p><span class="hour-text">$10</span> for one or all classes/social. Let's spread the love for forró!</p>
                <p class="hour-text">JANUARY DATES</p>
                <p>
                    Classes in January are happening on the 
                    <span class="hour-text">4th, </span> 
                    <span class="hour-text">11th, </span>
                    <span class="hour-text">18th, </span>
                    <span class="hour-text">25th</span>.
                    <br />
                    You can also check the <a href="https://www.facebook.com/events/353815758780808/">Facebook event.</a>
                </p>
                <img class="parties-img" src="/img/forrowithlara.png">
            </div>
        </div>
    </div>
</section>