<section class="bg-light" id="classes">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h2 class="general-title">CLASSES</h2>
                <hr class="light">
                <p>Always check calendar for dates and watch out for cancelations!</p>
                <h3 class="light">Beginner</h3>
                <p>Join us for our beginner classes! First timers welcomed!</p>
                <p class="hour-text">WHERE?</p>
                <p id="ucc-address">
                    Union Cultural Center<br />
                    803 S King St, Seattle
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    8pm-9:00pm
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p>$10</p>
                <p class="hour-text">NEXT DATES</p>
                <p>
                    <span>June 7th</span><br />
                    <span>June 14th</span><br />
                    <span style="color:red">
                        <span class="cancelled-text">June 21st</span> CANCELLED
                    </span>
                    <br />
                    <span>June 28th</span><br />
                    <br />
                    <!-- <span>
                        <span class="cancelled-text" style="color:red">May 10th</span> - Join us for <a href="#parties">En Canto's concert</a> at the Royal Room
                    </span><br /> -->
                    You can also check our <a target="_blank" href="https://www.facebook.com/events/402261843834587/">Facebook event.</a>
                </p>
                <h3 class="light">Intermediate</h3>
                <p>For dancers that have previous forró expecience or if you have gone through our beginner classes.</p>
                <p class="hour-text">WHERE?</p>
                <p>
                    Studio Current<br />
                    1100 E Pike St, Seattle<br/>
                    Entrance on 11th Ave, next to Annex Theatre
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    8:15pm-9:45pm
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p>$10</p>
                <p class="hour-text">NEXT DATES</p>
                <p>
                    <span>June 4th</span><br />
                    <span style="color:red">
                        <span class="cancelled-text">June 11th</span> CANCELLED
                    </span>
                    <br />
                    <span>June 18th</span><br />
                    <span>June 25th</span><br />
                    You can also check our <a target="_blank" href="https://www.facebook.com/events/322252125318734/">Facebook event.</a>
                </p>
                <p class="hour-text">ABOUT THE TEACHER</p>
                <p>
                    Lara is from Niterói (Rio de Janeiro state) but learned how to dance forró in the various forró parties during her time living in São José dos Campos (São Paulo state) where she went for college. Though she studied (and still studies) other Brazilian social dances such as Samba de Gafieira, Bolero and Brazilian Zouk, her favorite is, and always will be, Forró. She started teaching in São José dos Campos at her university and even taught it for one year when she was living in South Korea. After she came to Seattle, she was waiting for someone else to come and start teaching until she realized that she was that person. Lara dances and teaches as lead and follow and she sometimes gets to teach at forró festivals in the US.
                </p>
                <img class="parties-img" src="/img/forrowithlara.png">
            </div>
        </div>
    </div>
</section>