<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#about">Forró in Seattle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link page-scroll" href="#about">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#classes">Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#parties">Parties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#workshops">Workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <a class="social-logo" id="instagram-logo" href="https://www.instagram.com/forroinseattle/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="social-logo" id="facebook-logo" href="https://www.facebook.com/forroinseattle/" target="_blank">
    <i class="fab fa-facebook"></i>
  </a>
</nav>
