<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand nav-brand-font" href="#about">FORRÓ IN SEATTLE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-items-font">
      <li class="nav-item active">
        <a class="nav-link page-scroll" href="#about">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#classes">CLASSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#parties">PARTIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#workshops">WORKSHOPS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
  <a class="social-logo" id="instagram-logo" href="{{ site.instagram }}" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="social-logo" id="facebook-logo" href="{{ site.facebook }}" target="_blank">
    <i class="fab fa-facebook"></i>
  </a>
</nav>
