<section id="parties">
    <div class="container">
        <div class="row justify-content-md-center dark-font">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="general-title">CONCERTS</h2>
                <hr class="light">
                <p>
                    Join us at Studio Current for En Canto's live performance! Check the facebook event:
                    <br />
                    <a href="https://www.facebook.com/events/802862666723166/">
                        Saturday, Jan 12th
                    </a>
                    <br />
                </p>
                <a href="https://www.facebook.com/events/802862666723166/">
                    <img class="parties-img" src="/img/shows2019_1.png">
                </a>
            </div>
        </div>
    </div>
</section>