<section id="parties">
    <div class="container">
        <div class="row justify-content-md-center dark-font">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="general-title">CONCERTS & SOCIALS</h2>
                <hr class="light">
                <p class="hour-text">NEXT EVENTS</p>
                <p>
                    <!-- <span>May 10th</span> - En Canto's Concert at the Royal Room <a href="https://www.facebook.com/events/389660695203020/">(event)</a><br /> -->
                    <!-- <span>May 24th  - 9pm-11pm Social at <a href="#ucc-address">UCC</a> <a href="https://www.facebook.com/events/872662009735194/">(event)</a></span><br /> -->
                    <!-- <span>Jun 9th - Forrobodo with En Canto <a href="https://www.facebook.com/events/387891865393776/">(event)</a></span><br />
                    <span>Intro to Forró workshop at 6pm, concert at 7pm</span><br />
                    <br />
                    <a href="https://www.facebook.com/events/387891865393776/">
                        <img class="parties-img" src="/img/forrobodo.jpg">
                    </a> -->
                    <!-- <br /> -->
                    <!-- <span> 29th - Festa Junina with En Canto <a href="https://www.facebook.com/events/2337291643205310/">(event)</a></span><br /> -->
                    <span>August 11th - Forró on the Beach</span><br />
                    <span>
                        7pm<br />
                        Marina Park Pavilion<br />
                        25 Lakeshore Plaza, Kirkland, WA 98033<br />
                    </span>
                    <br />
                    <span>August 24th - EnCanTrio <a href="https://www.facebook.com/events/363596584322807/">(event)</a></span><br />
                    <span>
                        7pm-9pm<br />
                        Alcove<br />
                        5628 Univesity Way NE, Seattle, Washington 9810<br />
                    </span>
                    <br />
                    <span>Aug 30th - En Canto's concert at the Royal Room <a href="https://www.facebook.com/events/269708960576609/">(event)</a></span><br />
                    <br />
                </p>
                <p class="hour-text">ABOUT EN CANTO</p>
                <p>
                    A multi-ethnic, female-led seven-piece, En Canto’s world pop music—a combination of forró, inspired originals and reimagined covers of classic Brazilian hits—commands attention and inspires movement. 
                </p><br />
                
                <!--<a href="https://www.facebook.com/events/142450750029337/" target="_blank">
                    <img class="parties-img" src="/img/shows2019_1.png">
                </a>-->

            </div>
        </div>
    </div>
</section>