<section class="bg-light" id="workshops">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h2 class="general-title">WORKSHOPS</h2>
                <hr class="light">
                <div>No workshops scheduled at the momment.</div>
                <!-- <h3 class="light">RAFAEL AND MILENA WEEKEND</h3>
                <p>Join us for a weekender with Rafael Piccolotto from NY and Milena from Belo Horizonte, Brazil, for a forró workshop! <a href="https://www.forronewyork.com/events-1/seattle-forro-weekend">GET YOUR TICKETS HERE!</a></p>
                <h4>~ FRIDAY, OCT 11th ~</h4>
                <p>
                    <span class="hour-text">9-10pm</span>: Workshop<br />
                    <span class="hour-text">10pm-12am</span>: Social with DJ
                </p>
                <p id="ucc-address">
                    <span class="hour-text">Location:</span><br />
                    Union Cultural Center<br />
                    803 S King St, Seattle, WA 98104<br />
                    On street parking<br />
                </p>
                <h4>~ SATURDAY, OCT 12th ~</h4>
                <p>
                    <span class="hour-text">3-6:30pm</span>: Workshops<br />
                    <span class="hour-text">7pm-10pm</span>: Show with En Canto<br />
                </p>
                <p id="ucc-address">
                    <span class="hour-text">Location:</span><br />
                    MLK Fame Community Center<br />
                    3201 E Republican St, Seattle, WA 98112<br />
                    On street parking<br />
                </p>
                <h4>~ SUNDAY, OCT 13th ~</h4>
                <p>
                    <span class="hour-text">12:30pm-3:45pm</span>: Workshops<br />
                </p>
                
                <br />
            </div>-->
            <br />
            <br />
        </div>
    </div>
</section>