<section class="bg-light" id="workshops">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 text-center">
                <h2 class="general-title">WORKSHOPS</h2>
                <hr class="light">
                <p class="hour-text">FORRÓ WORKSHOP WITH NYC INSTRUCTOR RAFAEL PICCOLOTTO</p>
                <p class="hour-text">DATE</p>
                <p>
                    April 7th 2019, Sunday
                </p>
                <p class="hour-text">WHERE?</p>
                <p>
                    Studio Current <br />
                    1100 E Pike St (Capitol Hill) <br />
                    Entrance on 11th under Annex Theater
                </p>
                <p class="hour-text">WHAT TIME?</p>
                <p>
                    <span class="hour-text">Workshop: 4pm-6:00pm</span>
                    <br />
                    Musicality, stops and repertoire.
                    <br /><br />
                    <span class="hour-text">Social: 6pm-9pm</span>
                </p>
                <p class="hour-text">HOW MUCH?</p>
                <p>
                    Workshop and social: <span class="hour-text">$35</span><br />
                    Workshop only: <span class="hour-text">$30</span><br />
                    Social only: <span class="hour-text">$10</span><br />
                </p>
                <p>
                    You can also check our <a target="_blank" href="https://www.facebook.com/events/257661495149687/">Facebook event.</a>
                </p>
            </div>
        </div>
    </div>
</section>